/**
 * This file contains all the css class for game
 *
 * @package		game
 * @filename	game.css
 */

html, body
{
    height: 100%;
}

/* CSS for Screen 1 */
#dv_screen1 {
	height: 100%;
}

#dv_inner_screen {
	margin-top: 1%;
	padding-top: 14%;
	height: 96%;
	background-color: #EEEEEE;
	text-align: center;
}

input[type=text] {
    min-height: 40px !important;
    font-size: 25px !important;
}

/* CSS for Screen1 end */

.no-space [class*="span"] {
    margin-left: 0;
}

.no-space {
    margin-left:0;
}

/* CSS for Screen 2 */

#dv_screen2 {
	/*display: none;*/
	height: 100%;
}

#dv_username, #dv_clicks, #spn_value {
	margin-top: 5px;
}

#dv_outer_box, #dv_box {
	height: 100%;
}

#dv_inner_box {
	height: 30%;
}

.gamebox {
	height: 100%;
	border: 1px solid #DDD;
	text-align: center;
	padding: 8%;
	cursor: pointer;
}

.top-left-border {
	border-radius: 5px 0 0 0;
}

.top-right-border {
	border-radius: 0 5px 0 0;
}

.bottom-right-border {
	border-radius: 0 0 5px 0;
}

.bottom-left-border {
	border-radius: 0 0 0 5px;
}

/* CSS for Screen3 */
#dv_screen3 {
	/*display: none;*/
	height: 100%;
}

#carousel, .carousel-inner, .item {
	height: 100%;
}

.left {
	display: none;
}

.carousel-control {
	top: 45%;
}